.list-box{
    display: flex;
    width: 100%;
    flex-direction: column;
}

mat-form-field {
    width: 50%;
    margin: 10px auto;
}

.list-box mat-list {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 50%;
}

.list-box mat-list mat-list-item {
    
    box-shadow: -7px 17px 15px -18px rgba(148,99,148,1);
    border-radius: 5px;
    outline: inherit;
    border: thin 5px;
    margin-bottom: 10px;
}


#page-nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
}


@media ( max-width: 650px ) {
    .list-box mat-list {
        display: flex;
        flex-direction: column;
        margin: auto auto;
        width: 100%;
    }

    mat-form-field {
        width: 95%;  
        margin: 10px auto;      
    }
    #page-nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    
    
}